    
<head>
    <title> <%= title %> </title>
</head>
<body>

    <div class="container main-c">

        <div class="head">
            A password reset link will be sent to your registered email
        </div>

        <div class="get-pass-form">
            <form action="" method="post">
                <input class="en-email" type="email" name="email" placeholder="Email">
                <input type="submit">
            </form>
        </div>
    </div>
</body>