<form action="/users/reset_password/?id=" method="post">
    <label for="resetToken">One Time Password</label>
    <input type="text" name="resetToken" placeholder="OTP" required>
    <label for="newpass">Set New Password</label>
    <input type="password" name="newpass" placeholder="new password" required>
    <label for="confirmpass">Confirm password</label>
    <input type="password" name="confirmpass" placeholder="confirm password" required>
    <button type="submit">reset</button>
</form>